<%- include('../partials/header') %>


<style>
    body {
      background-color: rgb(190, 222, 244);
    }
  
  </style>

<div class="container center mine">
    <div class="container row text-center">
        <% pokemon.forEach(function(p) {%>
            <div style="width:20rem" class="card mt-3 me-3 pokemonCard "  >
                <div class="card-body">
                    <h5 class="card text-capitalize"> <%= p.name %></h5> 
                    <a href="/pokemon/<%= p.name %>"button type="submit" class="btn-success blue">More Info</a>
                    <img src="<%= p.image %>" alt="pokemon" class="pokemon-image">
   
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>