<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% pokemon.forEach(function(p) {%>
            <div class="card mt-3 me-3 pokemonCard">
                <div class="card-body">
                    <h5 class="card text-capitalize"> <%= p.name %></h5> 
                    <a href="/pokemon/<%= p.name %>" class="btn">More Info</a>
                    <img src="<%= p.image %>" alt="pokemon" class="pokemon">
   
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>