<%- include('../partials/header') %>



<div class="container center">
  <div class="container row text-center">
        <h2>All <%= username %>'s Pokemon</h2>
        <hr>  <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th scope="col">Pokemon Name</th>
              <th scope="col">Pokemon ID</th>
              <th scope="col">Height</th>
              <th scope="col">Weight</th>
              <th scope="col">Type</th>
             
              <th scope="col">On Team ?</th>
              <th scope="col">Favorite ?</th>
              <th scope="col">Remove ?</th>
              <th scope="col">Assign Team ?</th>
              


            </tr>
          </thead>
          <tbody>
            <% pokemon.forEach((p) => { %>
              <tr>
                <td scope="row" class="text-capitalize">
                  <a href="/pokemon/<%= p.name %>"><%= p.name %></a>
                </td>
                <td scope="row"><%= p.pokemonId %></td>
                <td scope="row"><%= p.height %></td>
                <td scope="row"><%= p.weight %></td>
                <td scope="row"><%= p.type %></td>
                <td scope="row"><%= p.onTeam %></td>
                <td scope="row"><%= p.favorite %></td>
                <td>
                  <form action="/pokemon/delete/<%= p._id %>?_method=DELETE" method="POST" class="remove-from-team-form">
                    <button type="submit" class="btn btn-danger" value="Remove from this team">Remove from collection</button>
                  </form>
                </td>
                <td>
                  <form action="/pokemon/addToTeam" method="POST" class="add-to-team-form">
                    <select name="teamId" id="teams" class="team-dropdown">
                      <option value="" selected disabled>Select a team</option>
                      <% teams.forEach(function(team) { %>
                        <option value="<%= team._id %>"><%= team.name %></option>
                      <% }); %>
                    </select>
                    <button type="submit" class="btn btn-info">Add to Team</button>
                  </form>
                      <!-- Options for teams -->
                    </select>
                  </form>
                </td>
               
              </tr>
            <% }) %>
       

    


<%- include('../partials/footer') %>