<%- include('../partials/header') %>


<div class="container center">
  <a href="/pokemon/all" class="btn btn-warning">Back to PokeDex</a>
  <div class="container col text-center">
</div>
<div class="container">
  <div class="reg">
    <h2 class="text-capitalize" class="text-center name-title"><%= pokemon.name %></h2>
    <img src="<%= pokemon.sprites.other.showdown.front_default %>" alt="pokemon" class="gif">
</div> 
  <div class="shiny">
    <h2 class="shiny-text" class="text-center name-title">Shiny Version</h2>
    <img src="<%= pokemon.sprites.other.showdown.front_shiny %>" alt="pokemon" class="shiny">
  </div>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Pokemon Name</th>
        <th scope="col">Pokemon ID</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Type</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" class="text-capitalize"><%= pokemon.name %></td>
        <td scope="row"><%= pokemon.id %></td>
        <td scope="row"><%= pokemon.height %></td>
        <td scope="row"><%= pokemon.weight %></td>
        <td scope="row"><%= pokemon.types.map(function(type) 
        { return type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1);}).join(' , '); %> </td>
        <td scope="row"><%= pokemon.flavor_text_enteries %></td>
      </tr>
    </tbody>
  </table>
  <hr>
    <% if (loggedIn) {%>
      <h5> Add this Pokemon to your team by clicking the box below!</h5>
        <form action="/pokemon/add" method="POST">
          <fieldset>
            <input type="submit" class="btn btn-success" value="Add Pokemon">
<!-- name pokemonId height weight type onTeam favorite -->
              <input hidden type="text" name="name" value="<%= pokemon.name %>">
              <input hidden type="text" name="pokemonId" value="<%= pokemon.id %>">
              <input hidden type="number" name="height" value="<%= pokemon.height %>">
              <input hidden type="number" name="weight" value="<%= pokemon.weight %>">
              <input hidden type="text" name="type" value="<%= pokemon.types.map(function(type) 
              { return type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1);}).join(' , '); %>">
              <label for="onTeam">On Team</label>
              <input type="checkbox" name="onTeam" >
              <label for="favorite">Favorite?</label>
              <input type="checkbox" name="favorite" checked>
          </fieldset>
        </form>
    <%  } else {%>
        <p> Log in to start Creating Your Team</p>
      <%  } %>
  <hr>
  <a href="/pokemon/all" class="Back to Pokedex"></a>
<div>
  


















<%- include('../partials/footer') %>