<%- include('../partials/header') %>



<div class="container center">
  <h2>All <%= username %>'s Pokemon Teams</h2>
  <hr>  <table class="table table-striped mt-3">
    <thead>
      
      <form action="team/add" method="POST">
        <label for="teamName">Team Name:</label>
        <input type="text" id="teamName" name="name" required>
        <button type="submit">Create Team</button>
      </form>
    </thead>
    <tbody>
      <% teams.forEach(function(team) { %>
        <h4>Team: <%= team.name %></h4>
        <ul>
          <% team.pokemon.forEach(function(pokemon) { %>
            <li>
              Name: <%= team.pokemon.name %><br>
              Pokemon ID: <%= team.pokemon.pokemonId %><br>
              Height: <%= team.pokemon.height %><br>
              Weight: <%= team.pokemon.weight %><br>
              Type: <%= team.pokemon.type %><br>
              On Team: <%= team.pokemon.onTeam %><br>
              Favorite: <%= team.pokemon.favorite %>
            </li>
          <% }) %>
        </ul>
      <% }) %>
    </tbody>
  </table>

</form>
</div>






<%- include('../partials/footer') %>