<%- include('../partials/header') %>


<div class="container center">
  <h2>All <%= username %>'s Pokemon Teams</h2>
  <hr>  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Pokemon Name</th>
        <th scope="col">Pokemon ID</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Type</th>
        <th scope="col">On Team ?</th>
        <th scope="col">Favorite ?</th>
        <th scope="col">Delete Buddy</th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach(function(team) { %>
        <h4>Team: <%= team.name %></h4>
        <ul>
          <% team.pokemon.forEach(function(pokemon) { %>
            <li>
              Name: <%= team.pokemon.name %><br>
              Pokemon ID: <%= team.pokemon.pokemonId %><br>
              Height: <%= team.pokemon.height %><br>
              Weight: <%= team.pokemon.weight %><br>
              Type: <%= team.pokemon.type %><br>
              On Team: <%= team.pokemon.onTeam %><br>
              Favorite: <%= team.pokemon.favorite %>
            </li>
          <% }) %>
        </ul>
      <% }) %>
      
    </tbody>
  </table>

</form>
</div>






<%- include('../partials/footer') %>